*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary_color:#FB2E86;
    --primary_font: "Lato", sans-serif;

}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}

.btn{
border: none;
outline: none;
color: #fff;
padding: 16px 40px;
border-radius: 2px;
}
.btn-primary{
    background-color:var(--primary_color);
}
.fontcolor-primary{
    color: var(--primary_color);
}
