<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

 <link rel="stylesheet" href="../assets/css/base.css">
 <link rel="stylesheet" href="../assets/css/main.css">

</head>
<body>
    
<header class="header-section">
<div class="logo">
    <a href="index.html"><img src="../assets/imgs/Hekto.svg" alt=""></a>
</div>
<nav class="navbar">
<ul>
    <li class="navbar-item"><a href="#" class="fontcolor-primary">Home</a></li>
    <li class="navbar-item "><a href="#">Pages</a></li>
    <li class="navbar-item "><a href="#" >Products</a></li>
    <li class="navbar-item "><a href="#">Blogs</a></li>
    <li class="navbar-item "><a href="#">Shop</a></li>
    <li class="navbar-item "><a href="#">Contact</a></li>
</ul>
</nav>


<div class="search-box">
<form>
    <input type="search"/>
    <button  type="submit"><img src="../assets/imgs/Vector.svg" alt=""></button>
    
</form>

</div>







</header>
















</body>
</html>